.todo_item {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.todo_item label {
  line-height: 32px;
  margin-right: 10px;
  flex-grow: 1;
}

.todo_item label.done {
  text-decoration: line-through;
  color: #666;
}

.todo_item button {
  height: 32px;
  padding: 0 5px;
  border: 1px solid var(--primary-color);
  border-radius: 4px;
  color: var(--primary-color);
  background: none;
  font-size: 16px;
}
