.todo_add {
  display: flex;
}
.todo_add input[type='text'] {
  width: calc(100% - 60px);
  height: 40px;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 0 10px;
}
.todo_add button {
  height: 40px;
  padding: 0 10px;
  margin-left: 10px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  color: #fff;
  background: #333;
}
